<header>                        
    
    <h1>Sistema de Gestão Jéssica Albuquerque MakeUp</h1> 
    <h2>Clientes => Cadastro</h2>
    
    <nav id="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="/orcamentos"></a></li>
            <li><a href="/servicos"></a></li>
            <li><a href="/atendimentos"></a></li>
        </ul>     
    </nav>
        
</header>    
<main>
    <div id="fundo1">
            
        <div id="fundo">
            <h3><a href="/clientes">Clientes</a></h3>           
        </div>
        
        <div id="fundo">            
            <h3 class="seg"><a href="/servicos">Serviços</a></h3>
        </div>
        
        <div id="fundo">            
            <h3 class="seg"><a href="/orcamentos">Orçamentos</a></h3>
        </div>
        <div id="fundo">            
            <h3 class="seg"><a href="/atendimentos">Atendimentos</a></h3>
        </div>
            
        <form action="../clientes/inserirCliente" method="post">
                           
            <div>
                <input type="text" name="nome" placeholder="Nome"/>
            </div>
            <div>
                <input type="text" name="celular" placeholder="Celular"/>
            </div>
            <div>
               <input type="text" name="telefone" placeholder="Telefone"/>
            </div>
            <div>
                <input type="email" name="email" placeholder="Email"/>
            </div>
            <div>
               <input type="text" name="cpf" placeholder="CPF"/>
            </div>
            <div>
                <textarea name="obs" placeholder="Observação"></textarea>
            </div>
            <div class="button">
                <button id="save" type="submit">Salvar</button>
                <button id="cancel" type="reset">Cancelar</button>
            </div>
                        
        </form>            
    </div>
        
    
</main> 
        
        
    







