<header>                        
<header>                        
    
        <h1>Sistema de Gestão Jéssica Albuquerque MakeUp</h1> 
        <h1>Clientes => Editar</h1>
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/clientes">Clientes</a></li>         
        </ul>                     
        
    <div id="block">
            
        <div id=fundo>
            <h3>Serviços</h3>            
        </div>
        
        <form action="../clientes/inserirCliente" method="post">
                   
            <div>
                <input type="text" name="nome" placeholder="Nome"/>
            </div>
            <div>
                <input type="text" name="celular" placeholder="Celular"/>
            </div>
            <div>
                <input type="text" name="telefone" placeholder="Telefone"/>
            </div>
            <div>
                <input type="email" name="email" placeholder="Email"/>
            </div>
            <div>
               <input type="text" name="cpf" placeholder="CPF"/>
            </div>
            <div>
                <textarea name="obs" placeholder="Observação"></textarea>
            </div>
            <div class="button">
                <button id="save" type="submit">Salvar</button>
                <button id="cancel" type="reset">Cancelar</button>
            </div>
                        
        </form>
     </div>    
        
</header>    