<div class="container-fluid">    

    <div class="row">
        <div class="col-md-2 list">
            <div class="list-group">
                <a href="../servicos" class="list-group-item list-group-item-action active">Serviços</a>
                <a href="../servicos/Novo_Servico" class="list-group-item list-group-item-action">Novo</a>
                <a href="../servicos/Listar_Servicos" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="#" class="list-group-item list-group-item-action">Alterar</a>
                <a href="#" class="list-group-item list-group-item-action">Excluir</a>!-->
            </div>
        </div>
        
    <div class="col-md-10">
        <div class="row">
            <div class="container-fluid title"> 
                <h1 class="display-5">Listagem de Serviços</h1>
            </div>
        </div>
        <div class="row form">
            <div class="container-fluid"> 
            <table class="table table-light table-striped text-center">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome do Serviço</th>
                  <th scope="col">Descrição do Serviço</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Ativo</th>
                </tr>
              </thead>
              <tbody>
                  <?php
                        if(!empty($this->view->servicos)){
                            
                            foreach($this->view->servicos as $servico){
                    ?>                      
                  <tr>
                      <th scope="row"><a href="Consulta?ServicoId=<?php echo utf8_encode($servico->id); ?>"><?php echo utf8_encode($servico->id); ?></a></th>
                      <td><?php echo utf8_encode($servico->nomeServico); ?></td>
                      <td><?php echo utf8_encode($servico->descricaoServico); ?></td>
                      <td>R$ <?php echo $servico->valor;?>,00</td>
                      <td><?php if($servico->status == 1){
                        
                                    echo "Sim";
                                }else{
                        
                                    echo "Não";
                                }?>
                      </td>
                  </tr>
                    <?php
                    }
                        }
                    ?>  
              </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>        
</div>