<div class="container-fluid">    

    <div class="row">
        <div class="col-md-2 list">
            <div class="list-group">
                <a href="../servicos" class="list-group-item list-group-item-action active">Serviços</a>
                <a href="../servicos/Novo_Servico" class="list-group-item list-group-item-action">Novo</a>
                <a href="../servicos/Listar_Servicos" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="#" class="list-group-item list-group-item-action">Alterar</a>
                <a href="#" class="list-group-item list-group-item-action">Excluir</a>!-->
            </div>
        </div>
        
    <div class="col-md-6">
        <div class="row">
            <div class="container-fluid title"> 
                <h1 class="display-5">Novo Serviço</h1>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid form">
                <form action="../servicos/salvar" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="IDdoServico" name="id" value=""/>
                        <label for="Nomeservico">Nome do Serviço</label>
                        <input type="text" class="form-control" id="Nome servico" name="nomeServico" placeholder="Maquiagem; Penteado; Etc...">
                    </div>
                    <div class="form-group">
                        <label for="DescricaoServico">Descrição do Serviço</label>
                        <input type="text" class="form-control" id="DescricaoServico" name="descricaoServico" placeholder="">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ValorServico">Valor do Serviço</label>
                                <input type="text" class="form-control" id="ValorServico" name="valorServico" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="Status" name="status" value="1">
                        <label class="form-check-label" for="Status">Ativar para Orçamento</label>
                    </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">Salvar</button>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
                </form>  
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>        
</div>