<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="financeiro-tab" data-toggle="tab" href="#financeiro" role="tab" aria-controls="financeiro" aria-selected="true">Financeiro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="servico-tab" data-toggle="tab" href="servicos" role="tab" aria-controls="servico" aria-selected="false">Serviços</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="financeiro" role="tabpanel" aria-labelledby="financeiro-tab">   
</div>
  <div class="tab-pane fade" id="servico" role="tabpanel" aria-labelledby="servico-tab">
    
    </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>