<div class="container-fluid">    

    <div class="row">
        <div class="col-md-2 list">
            <div class="list-group">
                <a href="../atendimentos" class="list-group-item list-group-item-action active">Atendimentos</a>
                <a href="../atendimentos/Novo_Atendimento" class="list-group-item list-group-item-action">Novo</a>
                <a href="../atendimentos/listar" class="list-group-item list-group-item-action">Listar</a>
                <a href="../atendimentos/alterar" class="list-group-item list-group-item-action">Alterar</a>
                <a href="../atendimentos/excluir" class="list-group-item list-group-item-action">Excluir</a>
                <a href="../atendimentos/mapa" class="list-group-item list-group-item-action">Mapa</a>
                
            </div>
        </div>
     
    
    <div class="col-md-9 list">
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d41608.93683652093!2d-43.414665770957924!3d-22.811904366455305!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1555078950117!5m2!1spt-BR!2sbr" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

</div>      

</div>