<div class="container-fluid">    

    <div class="row">
        <div class="col-md-2 list">
            <div class="list-group">
                <a href="../atendimentos" class="list-group-item list-group-item-action active">Atendimentos</a>
                <a href="/atendimentos/Novo" class="list-group-item list-group-item-action">Novo</a>
                <a href="../atendimentos/Listar" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="../atendimentos/alterar" class="list-group-item list-group-item-action">Alterar</a>
                <a href="../atendimentos/excluir" class="list-group-item list-group-item-action">Excluir</a>
                <a href="../atendimentos/mapa" class="list-group-item list-group-item-action">Mapa</a>!-->    
            </div>
        </div>
         <div class="col-md-8">
        <div class="row">
            <div class="container-fluid title"> 
                <h1 class="display-5">Novo Atendimento</h1>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid form">
                <form action="../atendimentos/salvar" method="post">                     
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="IDdoAtendimento">ID</label>
                                <input type="disable" class="form-control" id="IDdoAtendimento" name="id" value="<?php echo $this->view->atendimento; ?>"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="IDdoOrCamento">ID do Orçamento</label>
                                <input type="disable" class="form-control" id="IDdoOrCamento" name="idOrcamento"  />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Data">Data</label>
                                <input type="date" class="form-control" id="Data" name="dataAge"  />
                            </div>
                        </div>
                        <div class="col-md-6"> 
                            <div class="form-group">
                                <label for="Cliente">Cliente</label>
                                <input type="text" class="form-control" id="Cliente" name="nome" autofocus>
                             </div>
                        </div>
                     
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Local">Endereço do Atendimento</label>
                                <input type="text" class="form-control" id="Local" name="enderecoAtendimento" placeholder="">
                            </div>
                        </div>
                        <!--<div class="col-md-6">
                            <div class="form-group">
                                <label for="Local">Ponto de Referência</label>
                                <input type="text" class="form-control" id="Local" name="pontoReferencia" placeholder="">
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Local">Local do Atendimento</label>
                                <input type="text" class="form-control" id="Local" name="localAtendimento" placeholder="">
                            </div>
                        </div>!-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Local">Serviço</label>
                                <input type="text" class="form-control" id="Local" name="servico" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Local">Tem que estar pronta as</label>
                                <input type="time" class="form-control" id="Local" name="horaAgendada" placeholder="">
                            </div> 
                        </div> 
                   
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Data">Valor do Deslocamento</label>   
                                <input type="text" class="form-control" id="Data"  name="valorDeslocamento" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Local">Falta Receber</label>
                                <input type="text" class="form-control" id="Local" name="faltaReceber" placeholder="">
                            </div>
                        </div>                     
                    </div>               
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">Salvar</button>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
                </form>  
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
    </div>
</div>