<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 list">
            <div class="list-group">
                <a href="/orcamentos" class="list-group-item list-group-item-action active">Orçamento</a>
                <a href="../orcamentos/Novo" class="list-group-item list-group-item-action">Novo</a>
                <a href="../orcamentos/Listar" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="../orcamentos/Alterar" class="list-group-item list-group-item-action">Alterar</a>
                <a href="#" class="list-group-item list-group-item-action">Excluir</a>!-->
            </div>
        </div>
        <div class="col-md-10 title">
            <form action="../orcamentos/salvar" method="post">
            <div class="row ">
                <div class="col-md-4">
                    <div class="container-fluid "> 
                        <h1 class="display-5">Novo Orçamento</h1>
                    </div>            
                </div>
                <div class="col-md-2">
                    
                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3 but">
                    <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                </div>  
                
            </div>       
            <div class="row">
                <div class="container-fluid form">     
                    
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="IDdoOrCamento">ID do Orçamento</label>
                                    <input type="disable" class="form-control" id="IDdoOrCamento" name="id" value="<?php echo $this->view->orcamento; ?>"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="DatadoContato">Data do Orçamento</label>
                                    <input type="date" class="form-control" id="DatadoContato" name="dataOrcamento" placeholder=""/>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="NomeCliente">Nome da Cliente</label>
                                    <input type="text" class="form-control" id="NomeCliente" name="nomeCliente" placeholder="" value="" autofocus/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="Telefone">Telefone</label>
                                    <input type="disable" class="form-control" id="Telefone" name="telefone"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Local">Endereço do Atendimento</label>
                                    <input type="text" class="form-control" id="Local" name="enderecoAtendimento" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="FormaContato">Forma de Contato</label>
                                    <select class="form-control" id="FormaContato" name="formaContato" >
                                        <option></option>
                                        <option>WhatsApp</option>
                                        <option>Direct</option>
                                        <option>Messenger</option>
                                        <option>E-mail</option>
                                        <option>Celular</option>
                                    </select>                            
                                </div> 
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Tipo de Evento</label>
                                    <select class="form-control" id="TipoEvento" name="tipoEvento" >
                                        <option></option>
                                        <option>Festa</option>
                                        <option>Formatura</option>
                                        <option>Casamento</option>
                                        <option>Festa de Debutante</option>
                                        <option>Ensaio</option>
                                    </select>                                  
                                </div>  
                            </div>
                        </div>
                        <div class="row">   
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Participacao">Participação</label>
                                    <select class="form-control" id="Participacao" name="tipoParticipacao" >
                                        <option></option>
                                        <option>Noiva</option>
                                        <option>Mãe da Noiva</option>
                                        <option>Madrinha</option>
                                        <option>Debutante</option>
                                        <option>Mãe da Aniversariante</option>
                                        <option>Convidada</option>
                                        <option>Daminha</option>
                                        <option>Formanda</option>
                                        <option>Modelo</option>
                                    </select>    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="DiaeHora">Data e Hora do Evento</label>
                                    <input type="datetime-local" class="form-control" id="DiaeHora" name="diaHora" placeholder=""/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Servico">Serviço Solicitado</label>
                                    <select class="form-control" id="Servico" name="servicoSolicitado" >
                                        <option></option>
                                        <?php
                                            
                                            foreach($this->view->servicos as $servico){
                                                
                                                if($servico->status == 1){
                                                    
                                                    echo "<option value='" . $servico->id . "'>" . utf8_encode($servico->nomeServico) . "</option>";
                                                }                    
                                            } 
                                        ?>
                                    </select> 
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="HorarioSolicitado">Horário Solicitado</label>
                                    <input type="time" class="form-control" id="HorarioSolicitado" name="horaAgendada" placeholder=""/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="Deslocamento">Deslocamento</label>
                                    <input type="text" class="form-control" id="Deslocamento" name="deslocamento" placeholder=""/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="ValorTotal">Valor Total</label>
                                    <input type="text" class="form-control" id="ValorTotal" name="valorTotal"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="TaxaReserva">Taxa de Reserva</label>
                                    <input type="text" class="form-control" id="TaxaReserva" name="taxaReserva" placeholder=""/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="FormadePagamento">Forma de Pagamento</label>
                                    <select class="form-control" id="FormadePagamento" name="formaPagamento" >
                                        <option></option>
                                        <option>Boleto</option>
                                        <option>Transferência</option>
                                        <option>Dinheiro</option>
                                        <option>Débito</option>
                                        <option>Crédito</option>
                                    </select>                                   
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="Status">Status</label>
                                    <select class="form-control" id="Status" name="statusOrcamento" >
                                        <option></option>
                                        <option>Enviado</option>
                                        <option>Aprovado</option>
                                        <option>Recusado</option>
                                        <option>Cancelado</option>          
                                        <option>Expirado</option>                          
                                    </select>                             
                                </div>
                            </div>    
                        </div>

                        
                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="Observacao">Observações</label>
                                    <textarea name="obsOrcamento" class="form-control" id="Observacao" name="obs" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                    </form>   
                </div>
            </div>
        </div>    
    </div>
</div>