<div class="container-fluid">    

    <div class="row">
        
            <div class="col-md-2 list">
            <div class="list-group">
                <a href="../financeiro" class="list-group-item list-group-item-action active">Financeiro</a>
                <a href="../financeiro/Novo_lancamento" class="list-group-item list-group-item-action">Novo</a>
                <a href="../financeiro/listar" class="list-group-item list-group-item-action">Listar</a>
                <a href="../financeiro/extratos" class="list-group-item list-group-item-action">Extratos</a>
                <a href="#" class="list-group-item list-group-item-action">Caixa</a>
                <a href="#" class="list-group-item list-group-item-action">Contas a Pagar</a>
                <a href="#" class="list-group-item list-group-item-action">Conta a Receber</a>               
            </div>
        </div>
        <div class="col-md-9 list">
            
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Mês</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Extrato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                </li>
            </ul>
            
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                           
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                
                </div>
            </div>
        </div>
    </div>
    
</div>