<!DOCTYPE html>
<html lang="pt-br">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head>       
        <title>Gestão JA - MAKEUP</title>  
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
    </head>   
    
    <body>
        
        <div class="container-fluid">
  
    <div class="row">           
                    
            <nav class="navbar navbar-expand-lg navbar-light bg-light menu"><a class="navbar-brand" href="/">JA-MAKEUP</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <!--<li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>!-->
                        <li class="nav-item" >
                            <a class="nav-link" href="/servicos">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/orcamentos">Orçamentos</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" href="/clientes">Clientes</a>
                        </li>!--> 
                        <li class="nav-item">
                            <a class="nav-link" href="/atendimentos">Atendimentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/financeiro">Financeiro</a>
                        </li>                      
    
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 txtpesquisa" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                    </form>
                </div>
            </nav>  
    </div>
            
    
</div>
        
        <?php echo $this->content(); ?>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/script.js"></script>
        
    </body>
</html>